<!DOCTYPE html>
<html>
<head>
    <title>Greeting Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_greeting.css') }}">
</head>
<body>
    <h1>Hello, {{ name }}!</h1>
    <hr>
    <p>We have Created time telling worksheets for you.<br> Go ahead you {{ age }} old enthusiastic!! </p>

    <h2>Choose an option:</h2>
    <!-- <ul> -->
        <button onclick='generatePDF("clock_without_hands_words1")'>Clock Without Hands</a></li>
        <button onclick='generatePDF("guess_the_time_1")'>Guess the Time</a></li>
        <button onclick='generatePDF("match_clock_wordtime")'>Match The Words with the Time</a></li>
        <button onclick='generatePDF("match_the_time_num")'>Match the Words with time</a></li>
        <button onclick='generatePDF("match_the_time_words")'>Match the Time in words</a></li>
        <button onclick='generatePDF("write_time_in_numbers")'>Write the time in Numbers</a></li>
        <button onclick='generatePDF("draw_the_time")'>draw the time</a></li>
    <!-- </ul> -->
    <script>
        function generatePDF(programName) {
            // Open a new browser tab or window with the PDF download URL
            window.open(`/generate_pdf/${programName}`, '_blank');
        }
    </script>
</body>
</html>
